<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head> 
<body>
    
    <h1 class="text-center mt-5 mb-5 text-primary">Alta, Baja y Modificacion de usuarios</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/usuario/add_user" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="Nombre">
                        </div>
                        <div class="col">
                            <label>Contraseña</label>
                            <input type="password" class="form-control mb-3" name="Contraseña">
                        </div>
                        <div class="col">
                            <label>Correo electronico</label>
                            <input type="text" class="form-control mb-3" name="Correo_elec">
                        </div>
                        <div class="col">
                            <label>Dirección</label>
                            <input type="text" class="form-control mb-3" name="Direccion">
                        </div>
                        <div class="col">
                            <label>Fecha registro</label>
                            <input type="date" class="form-control mb-3" name="Fecha_regis">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--Tabla-->
        <table class="table table-borderd">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Direccion</th>
                <th scope="col">Fecha registro</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </thead>
            
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.user_id}}</td>
                    <td>{{d.Nombre}}</td>
                    <td>{{d.Contraseña}}</td>
                    <td>{{d.Correo_elec}}</td>
                    <td>{{d.Direccion}}</td>
                    <td>{{d.Fecha_regis}}</td> 
                    <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.user_id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.user_id}}">Editar</button></td>
                    <td><a href="/usuario/delete_user/{{ d.user_id }}" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
                <!--modal-->
                <div class="modal fade" id="modal{{d.user_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.Nombre}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/usuario/edit_user/{{d.user_id}}" method="POST">
                                <div class="modal-body">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control mb-3" name="Nombre" value="{{d.Nombre}}">
                                    <label>Contraseña</label>
                                    <input type="password" class="form-control mb-3" name="Contraseña" value="{{d.Contraseña}}">
                                    <label>Correo electronico</label>
                                    <input type="text" class="form-control mb-3" name="Correo_elec" value="{{d.Correo_elec}}">
                                    <label>Direccion</label>
                                    <input type="text" class="form-control mb-3" name="Direccion" value="{{d.Direccion}}">
                                    <label>Fecha registro</label>
                                    <input type="text" class="form-control mb-3" name="Fecha_regis" value="{{d.Fecha_regis}}">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
